.page,
.page-group {
	background-color: #f2f2f2;
}
.page-group.page-current,
.page.page-current {
	overflow-x: hidden;
	overflow-y: auto;
}
.list-block {
	height: 80vh;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 auto;
}
.list-content-block {
	margin: 1.5vh 0;
	padding: 0rem;
	color: #6d6d72;
}
.swiper-container {
	padding-top: 1vh;
	padding-bottom: 0;
	background-color: #ffffff;
}
.swiper-slide {
	padding: 2vw 3vw;
}
.swiper-slide img {
	width: 100%;
	height: 25vh;
	border-radius: 8px;

	box-shadow: 0px 6px 7px 0px rgba(215, 215, 215, 0.5);
}
.swiper-pagination-bullet-active {
	background-color: #58ab0f;
}
/* 切换 */
.buttons-tab .button {
	height: 11vh;
	line-height: 3vh;
	padding-top: 2vw;
}
.buttons-tab .button.active {
	color: #65b81b;
	border-color: #65b81b;
	z-index: 100;
}

.list-block .item-media + .item-inner {
	margin-left: 0;
}
.list-block .item-title {
	width: 30vw;
	height: 13.5vh;
}
.list-block .item-inner {
	display: flex;
	align-items: stretch;
}
img.list-image {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: darkgray;
}
.card-content-inner {
	padding: 0px;
	margin-left: 10px;
	float: left;
	width: 67%;
	position: relative;
}
.article-title {
	color: #333333;
	overflow: hidden;
	width: 100%;
	display: -webkit-box;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: normal !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.article-date {
	margin-top: 1vh;
	font-size: 0.65rem;
	color: #999999;
}
.label-time {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.label-button span {
	color: #58ab0f;
	font-size: 0.65rem;
	padding: 5px 10px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #eef6e7;
	border: 1px solid #eef6e7;
}
/* 二级切换 */
.tab3-inner {
	background: #f2f2f2 !important;
}
.tabs-inner {
	background: #ffff !important;
	height: 6vh;
}
.tabs-inner .button {
	height: 5vh;
	color: #666666;
}
.inner-tab-button {
	border: 0px solid #999999;
	border-radius: 5px;
	padding: 2px 0;
	background-color: rgba(0, 0, 0, 0.04);
}
.tabs-inner .button.active {
	color: #333333;
	border-bottom: none;
}
